.filter{
    display: flex;
    justify-content: space-between;
    width: 50em;
    align-items: center;
    margin-top: 20px;
}
.select{
    width: 200px;
}
.selectContiner{
    display: flex;
    align-items: center;
}

.selectContiner span{
    display: block;
    margin-right: 5px;
}