.product{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px 40px;
    box-shadow: 0 , 10px , 80px rgba(0, 0, 0 , 0.065);
    display: flex;
    justify-content: space-around;
    width: 70em;
    margin-top: 20px;
    color : #475569;
}

.producttext{
    padding-top: 22px;
}

.button{
    color: #6d28d9;
    border: 1px solid #6d28d9;
    border-radius: 5px;
    outline: none;
    padding: 5px 10px;
}

.inc{
    background-color: #ded9f5;
    margin-left: 5px;
}
.dec{
    
        background-color: #ded9f5;
        margin-left: 5px;
    
}
.del{
    
    
    margin-left: 5px;

}




.quantity{
    background-color: #ded9f5;
    color: #6d28d9;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-left: 5px;
}

.input{
    outline: none;
    border: 1px solid #6d28d9;
    border-radius: 5px;
    padding: 5px 5px;
    color: #6d28d9;
}
.input:focus{
    border: 2px solid #6d28d9;
}

